.gold_btn {
    padding: 0.7rem 2rem;
    min-width: 10rem;
    min-height: 4rem;
    width: fit-content;
    cursor: pointer;
    border: 1px solid #BD8928;
    background-image: linear-gradient(#c48716, #c18100);
    margin: 5px;
    font-weight: bolder;
    font-size: 18px;
    transition-duration: 0.2s;
}

.gold_btn:hover {
    background-image: linear-gradient(to right ,#af7500, #ffb834);
}

.black_btn {
    padding: 0.7rem 2rem;
    min-width: 10rem;
    width: fit-content;
    min-height: 4rem;
    cursor: pointer;
    border: none;
    background-color:#191919;
    margin: 5px;
    font-weight: bolder;
    font-weight: bolder;
    font-size: 18px;
}

.black_btn:hover {
    background-color: rgb(12, 12, 12);
}

