.body {
  min-height: 100vh;
  height: fit-content;
  padding: 4rem 0;
  background-color: black;
  margin-top: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.head {
  background-image: linear-gradient(to right, #936c1f, #90691b);
  color: transparent;
  display: inline;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 60px;
  font-weight: bold;
}

.header {
  font-size: 45px;
  margin: 15px 0;
  font-weight: bolder;
}

.para {
  font-size: 24px;
  width: 70rem;
  margin: 1rem 0;
  text-align: center;
}

.daigpara {
  font-size: 24px;
  padding: 2rem 0;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
}

.governancePage {
  min-height: 100vh;
  height: fit-content;
  border-top: 1px solid rgb(45, 45, 45);
  background-color: black;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.page_left {
  width: 50rem;
}

.option_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
}

.option_body {
  height: 15rem;
  width: 15rem;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  transition-duration: 0.3s;
}

.option_body:hover {
  box-shadow: 0px 0px 15px 0.1px rgb(11, 11, 11);
}

.option_body > div {
  margin-top: 10px;
  font-weight: bold;
}

.tokenomics {
  min-height: fit-content;
  background-color: #141315;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.tokenpara {
  font-size: 24px;
  width: 60rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.tokenBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  border: 1px solid #90691b;
  background-color: #191919;
  width: 75vw;
  padding: 1rem 0;
  height: 18rem;
}

.tokendata {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 50rem;
}

.contractHead {
  margin: 0 0 15px 0;
  font-size: 38px;
}

.taxData {
  margin-top: 3rem;
  display: flex;
  width: 40rem;
  text-align: center;
  justify-content: space-evenly;
}

.tokendata > div > nav {
  font-weight: bold;
  font-size: 18px;
}

.tokendata > div > div {
  font-weight: bold;
  font-size: 18px;
}

.taxData > div > nav {
  font-size: 42px;
  font-weight: bolder;
  color: white;
}

.parakey {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.h2 {
  font-size: 32px;
  font-weight: bold;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .head {
    text-align: center;
    margin: 1rem 0;
    font-size: 32px;
  }

  .page_left {
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    font-size: 27px;
    text-align: center;
    margin: 1rem 0;
  }

  .para {
    width: 95vw;
    font-size: 23px;
    line-height: 27px;
    padding: 0 20px;
  }

  .btns {
    width: 99vw;
  }

  .governancePage {
    display: block;
    padding: 0;
  }

  .headsection {
    text-align: center;
  }

  .daigpara {
    font-size: 24px;

  }

  .option_section {
    display: flex;
    flex-direction: column;
  }

  .tokenpara {
    width: 90vw;
    font-size: 15px;
  }

  .tokenBox {
    width: 90vw;
  }

  .tokendata {
    justify-content: space-evenly;
    width: 90vw;
    font-size: 12px;
  }
  .parakey {
    font-size: 12px;
  }

  .taxData {
    width: 70vw;
  }

  .option_body {
    height: 15rem;
    width: 15rem;
  }
  .option_body > div {
    font-size: 20px;
  }

  .tokendata > div > nav {
    font-weight: bold;
    font-size: 12px;
  }
  
  .tokendata > div > div {
    font-weight: bold;
    font-size: 12px;
  }
} 


@media only screen and (min-width: 481px) and (max-width: 800px) {
  .head {
    text-align: center;
    margin: 1rem 0;
    font-size: 32px;
  }

  .page_left {
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    font-size: 27px;
    text-align: center;
    margin: 1rem 0;
  }

  .para {
    width: 95vw;
    font-size: 23px;
    line-height: 27px;
    padding: 0 20px;
  }

  .btns {
    width: 99vw;
  }

  .governancePage {
    display: block;
    padding: 0;
  }

  .headsection {
    text-align: center;
  }

  .daigpara {
    font-size: 24px;

  }

  .option_section {
    display: flex;
    flex-direction: column;
  }

  .tokenpara {
    width: 90vw;
    font-size: 18px;
  }

  .tokenBox {
    width: 90vw;
  }

  .tokendata {
    justify-content: space-evenly;
    width: 90vw;
    font-size: 12px;
  }
  .parakey {
    font-size: 12px;
  }

  .taxData {
    width: 70vw;
  }

  .option_body {
    height: 15rem;
    width: 15rem;
  }
  .option_body > div {
    font-size: 20px;
  }

  .tokendata > div > nav {
    font-weight: bold;
    font-size: 12px;
  }
  
  .tokendata > div > div {
    font-weight: bold;
    font-size: 12px;
  }
} 


@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .head {
    text-align: center;
    margin: 1rem 0;
    font-size: 52px;
  }

  .page_left {
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    font-size: 36px;
    text-align: center;
    margin: 1rem 0;
  }

  .para {
    width: 100vw;
    font-size: 32px;
    line-height: 36px;
    padding: 0 20px;
  }

  .btns {
    width: 80vw;
  }

  .governancePage {
    display: block;
    padding: 0;
  }

  .headsection {
    text-align: center;
  }

  .daigpara {
    font-size: 20px;
  }

  .option_section {
    display: flex;
    flex-direction: column;
  }

  .contractHead {
    font-size: 32px;
  }

  .tokenpara {
    width: 90vw;
    font-size: 20px;
  }

  .tokenBox {
    width: 90vw;
  }

  .tokendata {
    justify-content: space-evenly;
    width: 90vw;
    font-size: 12px;
  }
  .parakey {
    font-size: 24px;
  }

  .taxData {
    width: 70vw;
  }

  .option_body {
    height: 23rem;
    width: 23rem;
  }

  .option_body > div {
    font-size: 30px;
  }
} 
