.body {
  background-color: #141315;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 54px;
}

.int_para {
  font-size: 24px;
}

.body_right {
  width: 39rem;
}

.checkpoints {
  margin: 1rem 0 0 0;
}

.checkpoints > span {
  margin-left: 1.5rem;
  font-size: 24px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 1000px) {
  .body {
    flex-direction: column;
    align-items: center;
  }

  .robo {
    height: 300px;
  }

  h1 {
    font-size: 24px;
    width: 99vw;
  }

  .body_left {
    display: flex;
    justify-content: center;
  }

  .body_right {
    width: 100vw;
  }

  .int_para {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  .checkpoints {
    padding: 0 2rem;
    font-size: 16px;
  }

  .checkpoints > span {
    font-size: 15px;
  }
}
