.base_body {
  min-height: 65vh;
  height: fit-content;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0; 
}

.animetext {
  color: rgb(224, 164, 11);
}

.body_heading {
  margin: 1.7rem 0;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
  width: 40rem;
}

.ellipse1 {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  z-index: 9;
}

.ellipse2 {
  position: absolute;
  right: 20rem;
  bottom: 1rem;
  z-index: 9999;
}

.ellipse3 {
  position: absolute;
  left: 0rem;
  bottom: -9rem;
  height: 250px;
  z-index: 9;
}

.group { 
  position: absolute;
  top: 10rem;
  z-index: 9999;
  width: 100vw;

}

.body_para {
  font-size: 2.3rem;
  text-align: left;
  width: 30rem;
  padding: 10px 0;
}

.overView {
  margin-top: 5rem;
  font-size: 30px;
  text-align: center;
}

.overView_types {
  display: flex;
  justify-content: center;
}

.overView_types > div {
  background-color: #191919;
  margin: 18px;
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 9rem;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.overView_types > div:hover {
  background-image: linear-gradient(to right, rgb(161, 115, 0), rgb(255, 183, 0));
}

.baseBody_btns {
  display: flex;
  width: 18rem;
  justify-content: space-between;
  z-index: 9999;
}


@media only screen and (min-width: 300px) and (max-width: 480px) {
  .ellipse1 {
    height: 150px;
    bottom: -15rem;
  }

  .ellipse3 {
    height: 150px;
    bottom: -15rem;
  }

  .base_body {
    display: block;
  }

  .body_heading {
    font-size: 1.5rem;
    text-align: center;
    width: 99vw;
    padding: 0rem 0;
  }

  .body_para {
    width: 99vw;
    font-size: 22px;
    text-align: center;
  }
  .baseBody_btns {
    justify-content: center;
    width: 100%;
  }

  .overView {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overView_types > div {
    background-color: #191919;
    margin: 15px;
    padding: 6px;
    min-width: 4rem;
    font-size: 16px;
  }

  .h3 {
    text-align: center;
    font-size: 18px;
  }

  .body_right {
    display: flex;
    justify-content: center;
  }

  .robo {
    height: 455px;
  }

  .body_right {
    display: flex;
    justify-content: center;
  }
} 


@media only screen and (min-width: 481px) and (max-width: 800px) {
  .ellipse1 {
    height: 150px;
    bottom: -15rem;
  }

  .ellipse3 {
    height: 150px;
    bottom: -15rem;
  }

  .base_body {
    display: block;
  }

  .body_heading {
    font-size: 1.5rem;
    text-align: center;
    width: 99vw;
    padding: 0rem 0;
  }

  .body_para {
    width: 99vw;
    font-size: 22px;
    text-align: center;
  }
  .baseBody_btns {
    justify-content: center;
    width: 100%;
  }

  .overView {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overView_types > div {
    background-color: #191919;
    margin: 15px;
    padding: 6px;
    min-width: 4rem;
    font-size: 20px;
  }

  .h3 {
    text-align: center;
    font-size: 22px;
  }

  .body_right {
    display: flex;
    justify-content: center;
  }


} 


@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .ellipse1 {
    height: 150px;
    bottom: -15rem;
  }

  .ellipse3 {
    height: 150px;
    bottom: -15rem;
  }

  .base_body {
    display: block;
  }

  .body_heading {
    font-size: 2.4rem;
    text-align: center;
    width: 99vw;
    padding: 0rem 0;
  }

  .body_para {
    width: 99vw;
    font-size: 1.9rem;
    text-align: center;
  }
  .baseBody_btns {
    justify-content: center;
    width: 100%;
  }

  .overView {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overView_types > div {
    background-color: #191919;
    margin: 15px;
    padding: 1rem;
    min-width: 8rem;
  }

  .h3 {
    text-align: center;
    font-size: 22px;
  }
  .body_right {
    display: flex;
    justify-content: center;
  }
} 
